# Ignore the specific .csv file in the 3_3_figures folder
3_3_figures/*.csv

# Ignore all .ipynb_checkpoints
3_3_figures/.ipynb_checkpoints/

# Ignore all .safetensors files in the 3_1_Results/BioLingual/model/ directory
3_1_Results/BioLingual/model/*.safetensors

# Ignore specific model directories
3_1_Results/feature_extraction/model/
3_1_Results/fine-tuning/model/


README_dataset
DeepShip/*